<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>app</title>
{#    <link rel="stylesheet" href="/static/resources/ext-theme-gray/ext-theme-gray-all.css">#}
    <link rel="stylesheet" href="/static/resources/ext-theme-neptune/ext-theme-neptune-all.css">
    <link rel="stylesheet" href="/static/css/icon.css">
    <script src="/static/ext-all.js"></script>
    <script src="/static/js/contentForm.js"></script>
    <script src="/static/js/historyForm.js"></script>
    <script src="/static/app.js"></script>
</head>
<body>
<div id="nav"></div>
<div id="changePwd"></div>
<div id="toolbar1"></div>
<div id="datePanel"></div>
<div id="gridPanel"></div>
<div id="pager"></div>
<div id="form_region"></div>
<div id="sms_region"></div>
<div id="historyPanel"></div>
<div id="foot"><span id="foot_status" style="text-align:right;font-szie:16px">ready!</span></div>
</body>
</html>

