.cog { background-image: url(/static/resources/icons/cog.png) !important;}
.quit { background-image: url(/static/resources/icons/quit.png) !important;}
.find { background-image: url(/static/resources/icons/find.png) !important;}
.drop-yes  { background-image: url(/static/resources/icons/drop-yes.png) !important;}